@import "tailwindcss";

@theme {
    --color-pageBg: #D0E0C4;
    --color-elementsBg: #FFFFFF;
    --color-mainText: #07140C;
    --color-secondaryText: #1F5A30;
    --color-borderCol: #9CB888;
}
@layer components {
    .gapParam {
        @apply gap-3;
    }
    .uniWidth {
        @apply w-[95vw] md:w-[90vw];
    }
}