@import "tailwindcss";

@theme {
    --color-pageBg: #132A13;
    --color-elementsBg: #4F772D;
    --color-mainText: #ECF39E;
    --color-secondaryText: #90A955;
    --color-borderCol: #31572C;
}

.mOfPage {
    margin-left: max(5%, 7px);
    margin-right: max(5%, 7px);
}
.gapParam {
    gap: 7px;
}